/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  color: #080705;
}

.navbar {
  background-color: #080705;
  color: #fff;
}

.nav-links a {
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.nav-links a:hover {
  background-color: #f5f5f5;
  color: #080705;
}

.nav-links a.active {
  background-color: #f5f5f5;
  color: #080705;
  text-decoration: underline;
}

.professional {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 0rem 0.25rem;
  color: #080705;
}

.text {
  line-height: normal;
}