/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  color: #080705;
}

.navbar {
  background-color: white;
}

a:hover {
}

a.active {
  border-bottom: 1px solid #000;
}

.professional {
  background-color: #f5f5f5;
  border-radius: 10px;
}
